# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribuição / empacotamento
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ==========================================
# Ambientes Virtuais
# ==========================================
venv/
.venv/
env/
.env_venv/
ENV/
env.bak/
venv.bak/

# ==========================================
# Django
# ==========================================
*.sqlite3
*.sqlite3-journal

src/media/
src/staticfiles/

# ==========================================
# Variáveis de Ambiente e Segredos
# ==========================================
.env
.secrets
secrets.json
local_settings.py

# ==========================================
# Editores / IDEs
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
00*
/staticfiles